:root {
	@apply light;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



/* only way to add variables without hard coding it */
.light{
	--custom-primary: var(--theme-light-primary);
	--custom-secondary: var(--theme-light-secondary);
	--custom-tertiary: var(--theme-light-tertiary);
	--custom-white: var(--theme-light-white);
	--custom-faded-dark: var(--theme-light-faded-dark);
	--custom-faded-light: var(--theme-light-faded-light);
	--custom-accent-primary: var(--theme-light-accent-primary);
	--custom-accent-secondary: var(--theme-light-accent-secondary);
}

.dark{
	--custom-primary: var(--theme-dark-primary);
	--custom-secondary: var(--theme-dark-secondary);
	--custom-tertiary: var(--theme-dark-tertiary);
	--custom-white: var(--theme-dark-white);
	--custom-faded-dark: var(--theme-dark-faded-dark);
	--custom-faded-light: var(--theme-dark-faded-light);
	--custom-accent-primary: var(--theme-dark-accent-primary);
	--custom-accent-secondary: var(--theme-dark-accent-secondary);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




@layer base {

	html, body{
		@apply bg-custom-white
	}
	
	/* inter var - latin */
	/* @font-face {
	  font-family: 'Inter';
	  font-style: normal;
	  font-weight: 100 900;
	  font-display: optional;
	  src: url('/fonts/inter-var-latin.woff2') format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
	} */

	@font-face {
		font-family: 'Inter';
		font-weight: 400;
		font-style: normal;
		font-display: swap;
		src: url('/fonts/inter-regular.woff2') format('woff2')
	}
	@font-face {
		font-family: 'Inter';
		font-weight: 300;
		font-style: normal;
		font-display: swap;
		src: url('/fonts/inter-light.woff2') format('woff2')
	}

	@font-face {
		font-family: 'Metropolis';
		font-weight: 700;
		font-style: bold;
		font-display: swap;
		src: url('/fonts/Metropolis-Bold.woff2') format('woff2')
	}
	
	::selection {
		@apply text-custom-secondary bg-custom-white
	}

	h1,h2,h3,h4,h5,h6{
		@apply font-sans text-custom-primary font-bold
	}

	h1 {
	  @apply   text-3xl  md:text-7xl md:leading-tight  ;
	}

	h1 strong{
		@apply   bg-gradient-to-br  from-custom-accent-primary to-custom-accent-secondary  bg-clip-text animate-text;
		-webkit-text-fill-color: transparent;
		/* animation: animated_text 10s ease-in-out infinite;
		-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite; */
	}

	h1 strong::selection {
		/* @apply   bg-gradient-to-br  from-custom-accent-primary to-custom-accent-secondary  bg-clip-text ; */
		-webkit-text-fill-color:var(--custom-secondary);
	}

	/* 60px -> 24px  */
	h2 {
	  @apply     text-2xl md:text-5xl;
	}
  
	/* 48px -> 20px  */
	h3 {
	  @apply  text-xl  md:text-2xl;
	}

	/* 36px -> 18px  */
	h4 {
	  @apply  text-lg  md:text-2xl;
	}

	/* 30px -> 16px  */
	h5 {
		@apply  text-base  md:text-xl;
	}
	  

	/* 72px -> 30px  */
	p{
		@apply text-base  font-light  font-inter text-custom-faded-dark ;
	}

	a{
		@apply text-base  font-light  font-inter text-custom-faded-dark ;
	}

	p strong{
		@apply text-custom-accent-primary ;
	}
	p a{
		@apply text-custom-accent-primary hover:underline font-normal;
	}
  
	html {
	  @apply  h-full;
	}


	#__next {
		@apply  h-full;
	}

	.page-container{
		@apply  h-full;
	}


	body {
		@apply  text-sm md:text-base h-full bg-custom-primary;

	}
  
	.layout {
	  /* 750px */
	  /* max-width: 43.75rem; */
  
	  /* 1100px */
	  max-width: 68.75rem;
	  @apply mx-auto w-11/12;
	}
	
	.layout-container ul{
		@apply list-disc flex flex-col gap-2;
	}

	q:before,q:after{
		font-family: initial;
		font-size: 1.5em;
	}

	svg path{
		fill: inherit !important;
	}

	
/* 
	.btn-style-ghost{
		@apply  group flex flex-wrap gap-1 flex-row items-center justify-center rounded-lg
	} */
	
}

@layer components {



	.btn{
		@apply flex flex-wrap gap-4 flex-row items-center justify-center rounded-lg cursor-pointer text-base  text-custom-faded-light  
	}
	.btn *{
		@apply font-light  font-inter text-inherit fill-current
	}

	.btn-default{
		@apply p-2 hover:text-custom-accent-primary
	}

	/* ghost */
	.btn-ghost{
		@apply py-3 px-6 border border-custom-accent-primary hover:bg-[#ffb1d91a];
	}
	.btn-ghost *{
		@apply text-custom-accent-primary fill-current
	}
}

